.user-profile
  .container
    .profile.row.justify-content-center
      .col-sm-4.col-md-4.avatar
        .wrapper
          = image_tag 'https://scontent-mia3-2.cdninstagram.com/v/t51.2885-19/s150x150/13413365_703992793072121_1761280401_a.jpg?_nc_ht=scontent-mia3-2.cdninstagram.com&_nc_ohc=TBeErqXBu-4AX-37A0B&oh=204a1884c9958b98f7d69823b4ff59de&oe=5EF241BB', class: ''
      .col-sm-8.col-md-8.basic-info
        .row
          %h2.username.d-none.d-sm-block dvillegas7
          %a{href:edit_user_path(current_user), class: 'edit-profile d-none d-sm-block'}
            %button Editar Profile
        .col.d-block.d-sm-none
          %h2.username dvillegas7
        .col.d-block.d-sm-none.mb-3
          %a{href:edit_user_path(current_user), class: 'edit-profile'}
            %button Edit Profile
        %ul.posts.d-none.d-sm-block.d-sm-none.d-md-block
          %li
            %span 64
            Posts
          %li
            %span 429
            Followers
          %li
            %span 956
            Following
        %h2.name.d-none.d-sm-block David Villegas
        %a{href:"localhost:3000"}

    -# Se muestra al pasar al tamaño de un dispositivo celular
    .row.d-block.d-sm-none.followers_count
      %ul.center-ul
        %li
          %span
            %span.center-ul-data 64
            Publicaciones
        %li
          %span
            %span.center-ul-data 429
            Seguidores
        %li
          %span
            %span.center-ul-data 956
            Seguidos

    .row.justify-content-center.d-none.d-sm-block
      .col-md-12.user-tabs.text-center
        %a{href:"#", class:'tab active'}
          %i.fa.fa-th
          POSTS
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tv
          IGTV
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-bookmark
          SAVED
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tag
          TAGGED

    -# Se muestra al pasar al tamaño de un dispositivo celular
    .row.d-block.d-sm-none
      .col-md-12.user-tabs-2.d-flex.justify-content-around
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-th
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tv
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-bookmark
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tag

    .row.justify-content-between.text-center
      .col-xs-4.col-sm-4.col-md-4
        = image_tag 'https://scontent-mia3-1.cdninstagram.com/v/t51.2885-15/e35/26865199_1930227257292656_5519976124408397824_n.jpg?_nc_ht=scontent-mia3-1.cdninstagram.com&_nc_cat=108&_nc_ohc=XHfabH2YwtcAX-tX1gM&oh=1c4641278a0ce577e14de90d867a5916&oe=5EF4D454', class: 'img-fluid gallery'
      .col-xs-4.col-sm-4.col-md-4
        = image_tag 'https://scontent-mia3-2.cdninstagram.com/v/t51.2885-15/e35/38428857_2034584446572031_8199103430036291584_n.jpg?_nc_ht=scontent-mia3-2.cdninstagram.com&_nc_cat=107&_nc_ohc=uINSLttnetcAX8punkh&oh=027900ea99dc29a5afff036471912a27&oe=5EF3D5DE', class: 'img-fluid gallery'
      .col-xs-4.col-sm-4.col-md-4
        = image_tag 'https://scontent-mia3-1.cdninstagram.com/v/t51.2885-15/e35/29716253_1837227663243912_5183683075644588032_n.jpg?_nc_ht=scontent-mia3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=Wu8GfbSojzsAX9xplg0&oh=48143f2455e5931a566af9e3ca34d90c&oe=5EF53B17', class: 'img-fluid gallery'
