.user-profile
  .container
    .profile.row.justify-content-center
      .col-sm-4.col-md-4.avatar
        .wrapper
          = image_tag 'https://scontent-mia3-2.cdninstagram.com/v/t51.2885-19/s150x150/13413365_703992793072121_1761280401_a.jpg?_nc_ht=scontent-mia3-2.cdninstagram.com&_nc_ohc=TBeErqXBu-4AX-37A0B&oh=204a1884c9958b98f7d69823b4ff59de&oe=5EF241BB', class: ''
      .col-sm-8.col-md-8.basic-info
        .row
          %h2.username.d-none.d-sm-block=current_user.username
          %a{href:edit_user_path(current_user), class: 'edit-profile d-none d-sm-block'}
            %button Editar Perfil
        .col.d-block.d-sm-none
          %h2.username=current_user.username
        .col.d-block.d-sm-none.mb-3
          %a{href:edit_user_path(current_user), class: 'edit-profile'}
            %button Editar Perfil
        %ul.numbers-info.d-none.d-sm-block.d-sm-none.d-md-block
          %li
            %span=@posts.count
            Publicaciones
          %li
            %span 429
            Seguidores
          %li
            %span 956
            Seguidos
        %h2.name.d-none.d-sm-block=current_user.name
        =link_to current_user.website, current_user.website, class: 'website d-none d-sm-block'

    -# Se muestra al pasar al tamaño de un dispositivo celular
    .row.d-block.d-sm-none
      %ul.center-ul
        %li
          %span
            %span.center-ul-data=@posts.count
            Publicaciones
        %li
          %span
            %span.center-ul-data 429
            Seguidores
        %li
          %span
            %span.center-ul-data 956
            Seguidos

    .row.justify-content-center.d-none.d-sm-block
      .col-md-12.user-tabs.text-center
        %a{href:"#", class:'tab active'}
          %i.fa.fa-th
          POSTS
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tv
          IGTV
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-bookmark
          SAVED
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tag
          TAGGED

    -# Se muestra al pasar al tamaño de un dispositivo celular
    .row.d-block.d-sm-none
      .col-md-12.user-tabs-2.d-flex.justify-content-around
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-th
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tv
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-bookmark
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tag

    .row.justify-content-around.text-center
      - @posts.each do |post|
        .col-xs-4.col-sm-4.col-md-4
          = image_tag (post.image), class: 'img-fluid gallery'
