.user-profile
  .container
    .profile.row.justify-content-center
      .col-sm-4.col-md-4.avatar
        .wrapper
          -if @user.avatar.attached?
            = image_tag (@user.avatar), class: ''
      .col-sm-8.col-md-8.basic-info
        .row
          %h2.username.d-none.d-sm-block=@user.username
          - if (user_signed_in?) && (current_user.id == @user.id)
            %a{href:edit_user_path(@user), class: 'edit-profile d-none d-sm-block'}
              %button Editar Perfil
        -# Inicio para mostrar este contenido al pasar al tamaño de un dispositivo celular
        .col.d-block.d-sm-none
          %h2.username=@user.username
        .col.d-block.d-sm-none.mb-3
          - if (user_signed_in?) && (current_user.id == @user.id)
            %a{href:edit_user_path(@user), class: 'edit-profile'}
              %button Editar Perfil
        -# Fin de bloque para tamaño de celular
        %ul.numbers-info.d-none.d-sm-block.d-sm-none.d-md-block
          %li
            %span=@posts.count
            Publicaciones
          %li
            %span 429
            Seguidores
          %li
            %span 956
            Seguidos
        %h2.name.d-none.d-sm-block=@user.name
        =link_to @user.website, @user.website, class: 'website d-none d-sm-block'

    -# Se muestra al pasar al tamaño de un dispositivo celular
    .row.d-block.d-sm-none
      %ul.center-ul
        %li
          %span
            %span.center-ul-data=@posts.count
            Publicaciones
        %li
          %span
            %span.center-ul-data 429
            Seguidores
        %li
          %span
            %span.center-ul-data 956
            Seguidos
    -# Fin de bloque para tamaño de celular

    .row.justify-content-center.d-none.d-sm-block
      .col-md-12.user-tabs.text-center
        %a{href:"#", class:'tab active'}
          %i.fa.fa-th
          POSTS
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tv
          IGTV
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-bookmark
          SAVED
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tag
          TAGGED

    -# Se muestra al pasar al tamaño de un dispositivo celular
    .row.d-block.d-sm-none
      .col-md-12.user-tabs-2.d-flex.justify-content-around
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-th
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tv
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-bookmark
        = link_to new_user_session_path, class:'tab' do
          %i.fa.fa-tag
    -# Fin de bloque para tamaño de celular

    .row.justify-content-around.text-center
      - @posts.each do |post|
        .col-xs-4.col-sm-4.col-md-4
          = image_tag (post.image), class: 'img-fluid gallery'
