.container
  .posts
    - @posts.each do |post|
      .section.post
        .user
          .avatar
            - if post.user.avatar.attached?
              = link_to user_path(post.user) do
                = image_tag (post.user.avatar), class: ''
            - else
              = image_tag ('hombre.svg')
          = link_to post.user.username, user_path(post.user), class: 'username'
        = image_tag (post.image), class: 'main-image'
        .description
          =post.description
    = paginate @posts
